<div class="contact-container d-flex h-100 p-3 mx-auto flex-column">
  <div class="container h-100">
    <div class="row h-100 flex-nowrap">
      <div class="col-md-6 col-sm-12 my-auto d-flex flex-column p-5">
        <h2 class="light-text text-center text-uppercase">
          Find Me Here
        </h2>
        <app-social-icons></app-social-icons>
      </div>
      <div class="col-md-6 col-sm-12 my-auto d-flex flex-column p-5">
        <form name=”contact” action="/done/" netlify method="POST" netlify-honeypot="bot-field" (ngSubmit)="onSubmit($event)">

          <input hidden type="text" name="form-name" value="contact"/>
          <p hidden>
            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
          </p>
        
          <div class="form-group">
            <label for="name">Your Name <span class="required">*</span></label>
            <input type="text" name="name" placeholder="" id="contact-name" value="" class="form-control"
              required="">
          </div>
          <div class="form-group">
            <label for="email">Your Email <span class="required">*</span></label>
            <input type="text" name="email" placeholder="" id="contact-email" value="" class="form-control"
              required="">
          </div>
          <div class="form-group">
            <label for="message">Message <span class="required">*</span></label>
            <textarea name="message" placeholder="" id="contact-message" rows="8" cols="45" class="form-control"
              required=""></textarea>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-light pl-5 pr-5"> Send </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>