<div class="biography-container d-flex h-100 p-3 mx-auto flex-column">
  <div class="container h-100">
    <div class="row h-100 flex-nowrap">
      <div class="col d-flex flex-column justify-content-center">
        <p>Sam Fly is an LA/NYC based vocalist currently singing duets on tour with Grammy award-winning artist Michael
          Bolton.</p>
        <p>Sam began her career almost 15 years ago in New York City. At the start, Sam was heavily interested in stage
          acting, with becoming a Broadway star as her main goal. She starred in many musicals including Beauty and the
          Beast, The Wizard of Oz, Bye Bye Birdie, and A Chorus Line. As she got older and her career progressed, she
          realized that her variety of talents could take her down other roads in the performing arts. Her off-broadway
          career eventually led her into the music industry. Sam utilized her training in classical opera to assist her
          in pivoting between multiple genres of music.</p>
        <p>In 2012, Sam co-starred in a television series, The Next Big Thing: NY, that was picked up by the Oxygen
          Network. The show aired that summer in the U.S. and starting in early 2013, on many of the international
          markets of E! Entertainment.</p>
        <p>Sam’s rich tones, wide range, and charisma onstage and off has led her to perform for thousands across the
          world at some of the most renowned venues such as Madison Square Garden and Royal Albert Hall.</p>
      </div>
    </div>
  </div>
</div>