.biography-container {
    background: linear-gradient(
        rgba(31,36,46, 0.69), 
        rgba(31,36,46, 0.69)
      ),
      url('../../assets/images/sam_fly_bio_bg-large.jpg');
    background-position: left center;
    background-size: cover;
    width: 100vw;
}