// _samfly-theme.scss
@font-face {
    font-family: 'dolce-vita-bold';
    src: url('/assets/fonts/dolce-vita-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'dolce-vita-light';
    src: url('/assets/fonts/dolce-vita-light.ttf') format('truetype');
}
@font-face {
    font-family: 'dolce-vita-regular';
    src: url('/assets/fonts/dolce-vita.ttf') format('truetype');
}
@font-face {
    font-family: 'kiona-italic';
    src: url('/assets/fonts/kiona-itallic.ttf') format('truetype');
}
@font-face {
    font-family: 'kiona-regular';
    src: url('/assets/fonts/kiona-regular.ttf') format('truetype');
}



$modal-dialog-margin: 1.75rem;
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

$body-color: $white;
$card-columns-gap: 0px;

$font-family-sans-serif: 'kiona-regular', sans-serif;
$font-family-sans-serif-italic: 'kiona-italic', sans-serif;
$font-family-secondary: 'dolce-vita-regular';
$font-family-secondary-light: 'dolce-vita-light';
$font-family-secondary-bold: 'dolce-vita-bold';

// $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;
