// _samfly-theme.scss
@font-face {
    font-family: 'dolce-vita-bold';
    src: url('/assets/fonts/dolce-vita-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'dolce-vita-light';
    src: url('/assets/fonts/dolce-vita-light.ttf') format('truetype');
}
@font-face {
    font-family: 'dolce-vita-regular';
    src: url('/assets/fonts/dolce-vita.ttf') format('truetype');
}
@font-face {
    font-family: 'kiona-italic';
    src: url('/assets/fonts/kiona-itallic.ttf') format('truetype');
}
@font-face {
    font-family: 'kiona-regular';
    src: url('/assets/fonts/kiona-regular.ttf') format('truetype');
}



$modal-dialog-margin: 1.75rem;
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;
$body-color: $white;
$card-columns-gap: 0px;

$font-family-sans-serif: 'kiona-regular', sans-serif;
$font-family-sans-serif-italic: 'kiona-italic', sans-serif;
$font-family-secondary: 'dolce-vita-regular';
$font-family-secondary-light: 'dolce-vita-light';
$font-family-secondary-bold: 'dolce-vita-bold';

// $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;
