@import 'samfly-theme';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/open-iconic/font/css/open-iconic-bootstrap.css';
// @import url('https://fonts.googleapis.com/css?family=Lato:200,400');
// @import url('https://fonts.googleapis.com/css?family=Montserrat');

html,
body {
    height: 100%;
}

.overflow-y-scroll {
    overflow-y: scroll !important;
}

.overflow-x-scroll {
    overflow-x: scroll !important;
}

.overflow-x-hidden {
    overflow-x: hidden !important;
}

.overflow-y-hidden {
    overflow-y: hidden !important;
}
.modal {
    .modal-dialog .modal-content {
        overflow: hidden;
    }
    .modal-body {
        color: $gray-900;
    }
    &.navigation-modal {
        .modal-dialog {
            height: 100%;
            width: 100%;
            max-width: unset;
            max-height: unset;
            margin: 0;
            .modal-content {
                background: transparent;
                height: 100%;
                border-radius: 0;
            }
        }
    }
}
