.images-container {
    width: 100vw;
}
.card {
    .card-img {
        filter: grayscale(1);
        transition: all 0.5s ease;
    }
    &:hover {
        .card-img {
            filter: grayscale(0);
        }
    }
}
